@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";

@plugin "daisyui"{

    themes: sunset --default;
};


@theme {
  --font-source-code-pro: 'Source Code Pro', monospace;
  --font-jetbrains-mono: 'JetBrains Mono', monospace;
  --font-montserrat: 'Montserrat', sans-serif;
}

@theme {

  --animate-blink: blink 2s step-start infinite;

  --animate-msg-fade-in: fade-in forwards;
  --animate-about-fade-in: fade-in 3s ease-in forwards;
  --animate-delivery-fade-in: fadeInDel ease-out forwards;

  --animate-msg-slide-up: slide-up 1s ease-out forwards;
  
  --animate-msg-slide-in: slide-left-to-right 0.3s ease-out forwards;
  
  --animate-msg-avatar: fade-in 1s forwards;

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  @keyframes fade-in {
  
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInDel {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.6;
    }
  }

  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-left-to-right {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
