@import "tailwindcss";


@plugin "daisyui"{

    themes: sunset --default;
};


@theme {
  --animate-msg-fade-in: fade-in forwards;

  --animate-delivery-fade-in: fadeInDel ease-out forwards;

  --animate-msg-slide-up: slide-up 1s ease-out forwards;
  
  --animate-msg-slide-in: slide-left-to-right 0.3s ease-out forwards;
  
  --animate-msg-avatar: fade-in 1s forwards;
  
  @keyframes fade-in {
  
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInDel {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.6;
    }
  }

  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-left-to-right {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
