@import "tailwindcss";

@plugin "daisyui/theme" {
  name: "unprime";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(12% 0.042 264.695);
  --color-base-200: oklch(20% 0.042 265.755);
  --color-base-300: oklch(27% 0.041 260.031);
  --color-base-content: oklch(96% 0.007 247.896);
  --color-primary: oklch(75% 0.183 55.934);
  --color-primary-content: oklch(26% 0.079 36.259);
  --color-secondary: oklch(67% 0.182 276.935);
  --color-secondary-content: oklch(25% 0.09 281.288);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(27% 0.046 192.524);
  --color-neutral: oklch(44% 0.043 257.281);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}

@plugin "daisyui"{

    themes: aqua --default;
};