---
import Layout from "../layouts/Layout.astro";
---

<Layout justifyType="start" alignType="start">
  <div
    aria-hidden="false"
    aria-label="mockup code for introduction"
    aria-description="a section representin a mockup ouput of 'whoami' output is my name: Francesco James Fanti"
    class="mockup-code text-left text-lg lg:text-md mx-10 lg:mb-20 md:mb-8 mb-6"
  >
    <div aria-hidden="true">
      <pre class="font-jetbrains-mono font-bold"><span>$ </span>whoami</pre>
      <pre
        class="font-jetbrains-mono font-bold text-success"><span />Francesco James Fanti</pre>
      {
        /* inline-block could be useful as a class for the blockchar in order to avoid quirks */
      }
      <pre
        class="font-jetbrains-mono font-bold"><span>$ </span><span class="animate-blink">█</span></pre>
<!--  add space below -->
      <pre></pre>
      <pre> </pre>
      <pre> </pre>
      <pre> </pre>
      </div>
  </div>

  <h1 class="font-montserrat font-bold text-xl">Some facts <span class="italic">about me</span></h1>
  <h2 class="font-montserrat font-semibold text-lg">aka what i do for</h2>
  <h3>a living: </h3>

  <h3>hobby</h3>
</Layout>
