---
import Layout from "src/layouts/Layout.astro";

// TODO maybe define a type for posts
const allPosts = Object.values(
  import.meta.glob("src/pages/posts/*.md", { eager: true }),
);
---

<Layout title="Blog" alignType="center" justifyType="start">
  <div class="container font-montserrat">

  <h1 class="font-bold text-2xl">Blog</h1>
  <h2 class="font-semibold text-lg mb-5">welcome to the blog section</h2>
  <h3 class="font-medium">Latest Posts:</h3>
  <ul class="list-decimal text-md underline">
    {
      allPosts
        .sort(
          (a: any, b: any) =>
            new Date(b.frontmatter.pubDate).getTime() -
            new Date(a.frontmatter.pubDate).getTime(),
        )
        .map((p: any) => (
          <li class="my-2">
            <a href={p.url} class="link link-hover">
              {p.frontmatter.title}
            </a>
          </li>
        ))
        
    }
  </ul>
  </div>
</Layout>
