---
import { Image } from "astro:assets";
import chatImg from "../assets/chat-goku.webp";
---

<h1 class="sr-only">Freelance Web Developer and Hardware Technician</h1>
<h2 class="sr-only">I will help you develop your projects and fix your bugs</h2>

<div class="sr-only" role="region" aria-label="Benvenuto">
    <p>
        This is my landing page, it shows a phone mockup with a chat
        conversation between you (the customer) and me (the developer).
    </p>
    <p>I will assist you with whatever you need.</p>
    <p>You can proceed to the next page.</p>
    <a href="/about">Go to the About page</a>
</div>

<div aria-hidden="true" class="flex justify-center items-center">
    <div class="lg:max-w-s max-w-xs mockup-phone lg:mt-0 mt-10" id="phone-top">
        <div class="mockup-phone-camera z-0"></div>

        <div
            class="mockup-phone-display text-white grid place-content-center bg-linear-to-b from-base-100 to-base-300"
        >
            <!-- phone slot -->
            <div class="p-4">
                <div class="chat chat-end">
                    <div class="chat-header">
                        Customer
                        <time class="text-xs opacity-60">12:44</time>
                    </div>
                    <div class="chat-bubble chat-bubble-base">
                        <span class="text-rotate mr-5 duration-15000">
                            <span>
                                <p>Can you code this for me?</p>
                                <p>I need to fix this bug ASAP</p>
                                <p>Can u help me with this? 🥲</p>
                            </span>
                        </span>
                    </div>
                    <div class="pt-1 chat-footer opacity-50">Delivered</div>
                </div>

                <div class="pt-4 chat chat-start">
                    <div
                        class="opacity-0 animate-delivery-fade-in chat-header ml-2"
                        style="animation-delay: 2.3s;"
                    >
                        <a href="https://github.com/neosnakex34">neosnakex34</a>
                        <time class="text-xs opacity-60">12:45</time>
                    </div>
                    <div class="chat-image avatar">
                        <div class="w-10 mask mask-squircle">
                            <a href="https://github.com/neosnakex34">
                                <Image src={chatImg} alt="my logo" />
                            </a>
                        </div>
                    </div>

                    <!-- loading message dots -->
                    <span
                        class="loading loading-dots loading-xs text-info -mx-2 mt-6"
                    ></span>
                    <!--  end loading message dots -->
                    <div
                        class="opacity-0 animate-delivery-fade-in pt-1 chat-footer"
                        style="animation-delay: 2.9s;
    "
                    >
                        Delivered
                    </div>
                </div>
            </div>
            <!-- END OF PHONE slot -->
        </div>
    </div>
</div>

<section
    id="scroll-section"
    class="mt-10 p-4 max-w-2xl mx-auto text-center -y-4 opacity-0 transition-opacity duration-3000"
>
    <div class="font-montserrat leading-relaxed text-md">
        <p>
            <span class="italic">My goal</span> is to <span class="font-bold">quickly help</span> you with your
            development needs.
        </p>
        <p>
            Whether it's <span class="font-bold">fixing bugs</span>, <span
                class="font-bold">developing new features</span
            >, or <span class="font-bold">providing assistance</span> with your projects.
        </p>
        <p>
            I am here to deliver <span class="font-bold">efficient</span> and <span
                class="font-bold">reliable</span
            > solutions to ensure your satisfaction.
        </p>
        <p class="mt-2">
            Whatever is <span class="italic">your goal</span>, <a
                href="/about"
                class="font-bold link link-info">I've got you covered</a
            >.
        </p>
    </div>
</section>

<script>
    // little presenting section will appear after a scroll
    const section: HTMLElement | null =
        document.getElementById("scroll-section");
    const anchor: HTMLElement | null = document.getElementById("scroll-anchor");

    if (section && anchor) {
        // TODO disable intersection observer on screen in which is useless
        // NOTE with the actual anchor it should always be useful
        const io = new IntersectionObserver(
            ([entry]) => {
                if (!entry.isIntersecting) {
                    section.classList.add("opacity-100");
                    section.classList.remove("opacity-0");
                } else {
                    section.classList.add("opacity-0");
                    section.classList.remove("opacity-100");
                }
            },
            { threshold: 1 },
        );

        io.observe(anchor);
    }

    // loading dots will be replaced with the message after 2 seconds
    setTimeout(() => {
        const loadingDots: HTMLElement | null = document.querySelector(
            ".mockup-phone .chat.chat-start .loading-dots",
        );

        if (!loadingDots) return;

        const messageBubble = document.createElement("div");
        messageBubble.className =
            "opacity-0 animate-msg-fade-in chat-bubble chat-bubble-neutral ml-2";
        messageBubble.style.animationDelay = "0.2s";
        messageBubble.innerHTML =
            'Got you <a id="covered-text"class="font-bold text-info link">covered</a>!';
        loadingDots.replaceWith(messageBubble);

        const coveredText = document.getElementById("covered-text") || null;
        const scrollSection = document.getElementById("scroll-section") || null;

        const scrollToSection = () => {
            scrollSection?.scrollIntoView({ behavior: "smooth" });
        };

        coveredText?.addEventListener("click", scrollToSection);
    }, 2000);
</script>
