  <div
    aria-hidden="false"
    aria-label="mockup code for with my name output"
    class="mockup-code text-left text-lg lg:pb-70 md:pb-65 pb-50 lg:mb-20 md:mb-8 mb-6"
    
  >
    <div aria-hidden="false">
      <pre class="font-jetbrains-mono font-bold"><span>$ </span>whoami</pre>
      <pre
        class="font-jetbrains-mono font-bold text-success"><span />Francesco James Fanti</pre>
      <pre
        class="font-jetbrains-mono font-bold"><span>$ </span><span class="animate-blink">█</span></pre>
  
      </div>
  </div>