---
import LocaleSelector from "src/components/LocaleSelector.astro"
---

<!-- TODO add credits to font and other resources -->
<footer
  class="footer sm:footer-horizontal font-montserrat bg-base-300 text-base-content p-10 pb-10"
>
  <nav>
    <h6 class="footer-title">Crediti</h6>
    <!-- astro daisyui  -->
    <a
      class="link link-hover"
      href="https://astro.build/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Astro
    </a>
    <a
      class="link link-hover"
      href="https://daisyui.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      DaisyUI
    </a>
    <a
      class="link link-hover"
      href="https://localthunk.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      LocalThunk (Balatro)
    </a>
 
    <a 
      class="link link-hover"
      href="https://giphy.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Giphy
    </a>
  </nav>
  <nav>
    <h6 class="footer-title">Ringraziamenti</h6>
    <a
      class="link link-hover"
      href="https://smony.artstation.com/"
      target="_blank"
      rel="noopener noreferrer"
      >Smony (caro amico e artista)
    </a>
    <a
      class="link link-hover"
      href="https://sapienzastudents.net"
      target="_blank"
      rel="noopener noreferrer"
      >Sapienza Students Network 🩵
    </a>
  </nav>
  <nav>
    <h6 class="footer-title">Legale</h6>
      <a 
      class="link link-hover"
      href="/policy-site.docx"
      
      >Privacy Policy</a>
      <a
          class="link link-hover"
      href="/cookie-policy.docx"
      target="_blank"
      rel="noopener noreferrer">
        
      Cookie Policy</a>  
      <a 
      class="link link-hover"
      href="https://github.com/neosnakex34/site-astro"
      target="_blank"
      rel="noopener noreferrer"
      >Sorgenti Sito</a> 
       
  
  </nav>
    <nav>
    <h6 class="footer-title">Lingua</h6>
    
    
      <LocaleSelector btnType="footer"></LocaleSelector>
     
     
  </nav>  
</footer>
<footer
  class="footer sm:footer-horizontal font-montserrat footer-center bg-base-300 text-base-content p-4"
>
  <div>
    <div class="text-xs leading-relaxed font-medium">
      <p>Ogni marchio registrato e logo, dove non esplicitamente indicato, è da considerarsi di proprietà del rispettivo proprietario.</p>
      <p>Balatro è un videogioco di LocalThunk</p>

    </div>
    <p class="font-medium">Il proprietario di questo sito supporta il software Free e Open Source</p>
    <p class="font-bold">Copyright © {new Date().getFullYear()} - Francesco James Fanti</p>
  </div>
</footer>
