---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { justifyType, alignType, showFab = false } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>neosnakex34</title>
	</head>
	<body>
		<Navbar />
		<main
			class=`min-h-[calc(100vh-56px)] flex flex-col w-full bg-base-200 ${justifyType ? "justify-"+justifyType : 'justify-center'} ${alignType ? "items-"+alignType : 'items-center'}`
		>
			<div class=`lg:p-20 md:p-8 p-6`>
				<slot />
			</div>
		</main>

		<!-- top fab -->
		<div class=`fab ${showFab ? "" : "hidden"}` id="fab-top-container">
			<!-- a focusable div with tabindex is necessary to work on all browsers. role="button" is necessary for accessibility -->
			<button
				role="button"
				class="z-0 btn btn-lg btn-circle btn-accent opacity-70"
				aria-description="scroll on top"
			>
				^
			</button>
			
			
		</div>
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>

<script>

	const debounce = <T extends unknown[]> (
		callback: (...args: T) => void,
		delay: number
	) => {

		let timeoutTimer: ReturnType<typeof setTimeout>;

		return (...args: T) => {
			clearTimeout(timeoutTimer);

			timeoutTimer = setTimeout(() => {
				callback(...args);
			}, delay);
		};
	}; 
	

	document.addEventListener('DOMContentLoaded', () => {


	const fabTop: HTMLElement | null = document.getElementById('fab-top-container');
	

	fabTop?.addEventListener('click', () => {
		console.log('clicked');
		window.scrollTo({ top: 0, behavior: 'smooth' });
	});
	console.log('fabTop:', fabTop);


	

	window.addEventListener('scroll', debounce(() => {
		console.log('called');
		if (fabTop) {
			if (window.scrollY > 300) {
				fabTop.classList.remove('hidden');
			} else {
				fabTop.classList.add('hidden');
			}
		}
	}, 500));
	
	


});
	
</script>